{% extends "base.html" %}
{% set active = "Acquire" %}
{% block title %}Acquire{% endblock %}
{% block content %}
<div class="jumbotron">
  <h1>Acquire</h1>
  <div>Add issues you have expressed an interest in to your library and manage
  your subscriptions.</div>
  <!--Add a button for the user to click to initiate auth sequence -->
  <div id="auth-required" style="display: none;">
    Your authorisation is required for access to your library:
    <span class="btn btn-default">Authorise</span>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading"><h2>New Issues</h2></div>
  <div class="panel-body">
    <div id="content"></div>
  </div>
</div>
{% endblock content %}
{% block footer %}
<script src="/static/json-template.js"></script>
<script src="/static/issues.js"></script>
<script type="text/javascript">
$(document).on( "pulldbAuthorised", function (event, token) {
  console.log("Handling authorised", token);
  Site.apiFetch({
    url: "/api/pulls/list/new?context=1",
    dataType: "json",
    success: renderNewPulls,
  });
});
</script>
<script src="https://apis.google.com/js/client.js?onload=handleApiLoad">
</script>
{% endblock footer %}
