{% extends "base.html" %}
{% set active = "Issues" %}
{% block title %}Issues{% endblock %}
{% block content %}
<div class="jumbotron">
  <h1>Acquire</h1>
  <div>Add issues you have expressed an interest in to your library and manage
  your subscriptions.</div>
  <!--Add a button for the user to click to initiate auth sequence -->
  <div id="auth-required" style="visibility: hidden">
    Your authorisation is required for access to your library:
    <span class="btn btn-default" style="visibility: hidden">Authorise</span>
  </div>
</div>
<div id="content"></div>
{% endblock content %}
{% block footer %}
<script type="text/javascript">
$(document).on( "pulldbAuthorised", function (token) {
  console.log("Handling authorised");
  $.ajax({
    url: "/api/pulls/list/new",
    dataType: "json",
    success: renderNewPulls,
    beforeSend: function(jqxhr, settings) {
        jqxhr.setRequestHeader('Authorization', 'Bearer ' + token);
    },
  });
});

function renderNewPulls(data) {
  var items = data.results.length();
  for (var i=0; i<items; i++){
    $("#content").append("<pre>"+data.results[i]+"</pre>");
  }
}

var api_ready;
function handleApiLoad() {
  console.log("trigger authready...");
  $.event.trigger({"type": "pulldbAuthReady"});
  api_ready = true;
}
</script>
<script src="https://apis.google.com/js/client.js?onload=handleApiLoad">
</script>
{% endblock footer %}
