{% extends "base.html" %}
{% set active = "Admin" %}
{% block content %}
{% autoescape true %}
<div class='panel panel-default'>
  <div class='panel-heading'>
    <h2 class='panel-title'>Application settings</h2>
  </div>
  
  <div class="panel-body">
    <form action="/admin/settings" method="post">
      <p>
	<div class="input-group">
	  <span class="input-group-addon">Comicvine API Key</span>
	  <input type="text" class="form-control" name="comicvine_api_key" 
		 value="{{ comicvine_api_key.value }}" placeholder="API Key" />
	</div>
      </p>
      <p>
	<div class="input-group">
	  <span class="input-group-addon">Session Store Key</span>
	  <input type="text" class="form-control" name="session_store_key" 
		 value="{{ session_store_key.value }}" 
		 placeholder="Session key" />
	</div>
      </p>
      <p>
        <div class="input-group">
          <span class="input-group-addon">Update shards</span>
          <input type="text" class="form-control" name="update_shards_key"
                 value="{{ update_shards_key.value }}"
                 placeholder="Number of update shards" />
        </div>
      </p>
      <p>
	<button type="submit" class="btn btn-default">Save Settings</button>
      </p>
    </form>
  </div>
</div>
{% endautoescape %}
{% endblock %}
