<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Your Title Here{% endblock %}</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"
          rel="stylesheet" media="screen" />
    <link href="http://fonts.googleapis.com/css?family=Happy+Monkey"
          rel="stylesheet" type="text/css" />
    <script href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
    </script>
  </head>
  <body>
    <div class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" 
		  data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" 
	     style="font-family: 'Happy Monkey', cursive;" 
	     href="/">PullDB</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
	    {% macro navlink(name, link) -%}
	    <li{% if name == active %} class="active"{% endif %}>
	      <a href="{{ link }}">{{ name }}</a>
	    </li>
	    {%- endmacro %}
            {{ navlink('Home', '/') }}
	    {% if user_info_name %}
	    {{ navlink('Issues', '/issues') }}
	    {{ navlink('Subscriptions', '/subscriptions') }}
	    {{ navlink('Volumes', '/volumes') }}
	    {% endif %}
	    {% if user_is_admin %}
            {{ navlink('Admin', '/admin') }}
	    {% endif %}
          </ul>
	  <p class="navbar-text pull-right">
	    {% if user_info_name %}
	    Signed in as: <a href="/users/me">{{ user_info_name }}</a>
	    {% else %}
            <a class="navbar-link" href="{{user_info_url}}">
              {{ user_info_text }}</a>
	    {% endif %}
	  </p>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="container">
      {% block content %}{% endblock %}
    </div>

    <div class="container well">
      <p>Copyright &copy; 2013 
	<a href="https://plus.google.com/106763041812869545758/about" 
	   rel="author">Russell Heilling</a></p>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- site local scripts -->
    <script src="/static/site.js"></script>

    <!-- Google+ Login API code -->
    <script type="text/javascript">
      (function() {
      var po = document.createElement('script'); 
      po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/client:plusone.js';
      var s = document.getElementsByTagName('script')[0]; 
      s.parentNode.insertBefore(po, s);
     })();
    </script>
  </body>
</html>
