{% extends "base.html" %}
{% set active = "Issues" %}
{% block title %}Issues{% endblock %}
{% block content %}
<div class="jumbotron">
  <h1>Discover</h1>
  <div>Find volumes and issues to add to your pull list.</div>
</div>
<div class="panel panel-default">
<div class="panel-body">
<ul class="nav nav-tabs" role="tablist" id="searchtabs">
  <li class="active">
    <a href="#localsearch" role="tab" data-toggle="tab">Search</a>
  </li>
  <li>
    <a href="#comicvine" role="tab" data-toggle="tab">
      <img class="img-rounded" style="height: 20px;"
           src="http://www.comicvine.com/bundles/comicvinesite/images/logo.png">
    </a>
  </li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="localsearch">
    <form role="form">
      <input type="hidden" name="source" value="local">
      <div class="input-group">
        <input type="text" class="form-control" name="q"
               placeholder="Search local index">
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <i class="fa fa-search"></i></button>
        </span>
      </div><!-- /input-group -->
    </form>
  </div>
  <div class="tab-pane" id="comicvine">
    <form role="form">
      <input type="hidden" name="source" value="comicvine">
      <div class="input-group">
      <input type="text" class="form-control" name="q"
             placeholder="Search comicvine database">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">
          <i class="fa fa-search"></i></button>
      </span>
    </div><!-- /input-group -->
    </form>
  </div>
</div>
</div> <!-- panel-body -->
</div> <!-- panel -->
<div id="search-results"></div>
{% endblock content %}
{% block footer %}
<script src="/static/discover.js"></script>
<script src="https://apis.google.com/js/client.js?onload=handleApiLoad">
</script>
{% endblock footer %}
