  <a name="{{ result.issue_key }}"></a>
  <div class="col-md-3">
    <div class="panel">
      <div class="panel-heading">
	<h3 class="panel-title">
	  {{ result.volume.name }} #{{result.issue.issue_number }}
	</h3>
	<h4 class="panel-title">{{ result.issue.title }}</h4>
      </div> <!-- panel-heading -->
      <div class="panel-body">
	<div class="row">
	  <div class="col-md-6">
	    <img width="90%" height="auto" src="{{ result.issue.image }}" />
	  </div> <!-- col -->
	  <div class="col-md-4">
	    <div class="row">
	      <div class="col-md-6">
		<a href="{{ result.issue.site_detail_url }}">
		  <span class="glyphicon glyphicon-info-sign"
			title="View volume on comicvine.">
		  </span>
		</a>
	      </div> <!-- col -->
	      <div class="col-md-6">
		{% if result.pulled %}
		<a href="/subscriptions/remove/{{ result.issue_key }}">
		  <span class="glyphicon glyphicon-heart"
			title="Unsubscribe"></span>
		</a>
		{% else %}
		<a href="/subscriptions/add/{{ result.issue_key }}">
		  <span class="glyphicon glyphicon-heart-empty"
			title="Subscribe."></span>
		</a>
		{% endif %}
	      </div> <!-- col -->
	    </div> <!-- row -->
	    <div class="row">
	      <div class="col-md-6">
		<span class="glyphicon glyphicon-calendar"
		      title="Publication date"></span>
	      </div>
	      <div class="col-md-6">
		{{ result.issue.pubdate }}
	      </div>
	    </div> <!-- row -->
	    <div class="row">
	      <div class="col-md-6">
		<span class="glyphicon glyphicon-book"
		      title="Issue Number"></span>
	      </div>
	      <div class="col-md-6">
		{{ result.issue.issue_number }}
            </div>
          </div> <!-- row -->
        </div> <!-- col -->
	<div class="col-md-2"></div>
      </div> <!-- row -->
    </div> <!-- panel-body -->
  </div> <!-- panel -->
</div> <!-- col -->
