{% extends "issues.html" %}
{% block title %}Issues List{% endblock %}
{% block content %}
{% if results %}
<div class="well">
  <p>Displaying {{ results_count }} results...</p>
</div>
<div class="well">
  <div class="row">
    <div class="col-md-12 pull-right">
      {% include "issues_pager.html" %}
    </div>
  </div>
  {% for result in results if result %}
  {% if loop.index0 % 4 == 0 %}
  <div class="row">
  {% endif %}
  {% include "issue_panel.html" %}
  {% if result %}
  {% endif %}
  {% if loop.index % 4 == 0 or loop.last %}
  </div> <!-- row -->
  {% endif %}
  {% endfor %}
  <div class="row">
    <div class="col-md-12 pull-right">
      {% include "issues_pager.html" %}
    </div>
  </div>
</div> <!-- well -->
{% endif %}
{% endblock %}
