{% extends "subscriptions.html" %}
{% block title %}Subscriptions{% endblock %}
{% block content %}
<div class="jumbotron">
  <h1>Subscriptions.</h1>
  <p>Yes indeed.</p>
</div>
{% if results %}
<div class="well well-sm">
  <p>Displaying {{ results_count }} results...</p>
</div>
<div class="well well-lg">
{% for result in results %}
{% if loop.index0 % 4 == 0 %}
<div class="row">
{% endif %}
{% include "volume_panel.html" %}
{% if loop.index % 4 == 0 or loop.final %}
</div>
{% endif %}
{% endfor %}
</div>
</div>
{% endif %}
{% endblock %}
