<div class="well">
  <form role="form" action="/volumes/search" method="GET">
    <div class="form-group">
      <label for="q">Email address</label>
      <input class="form-control" type="text" name="q" value="{{ query }}"
             placeholder="Volume title (e.g. Deadpool)" />
    </div>
    <div class="form-group">
      <label for="volume_ids">Volume Ids</label>
      <input type="text" class="form-control"
             placeholder="Comicvine Volume IDs (separated with spaces)"
             value="{{ volume_ids }}" name="volume_ids">
    </div>
    <button class="btn btn-default" type="submit">
      Search
    </button>
  </form>
</div>
